<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Web Service URL</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>HAL</string>
				<string>mapi.hybris.com</string>
				<string>EarlyBird</string>
				<string>yacceleratorstorefront</string>
				<string>mobiledev</string>
			</array>
			<key>Values</key>
			<array>
				<string>https://192.168.1.100:9002</string>
				<string>https://mapi.hybris.com:9002</string>
				<string>https://earlybird.hybris.com:9002</string>
				<string>http://46.137.96.43:9001</string>
				<string>https://mobiledev.hybris.com:9002</string>
			</array>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>https://mobiledev.hybris.com:9002</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>web_services_predefined_base_url_preference</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Pre-configured URL</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Specific URL</string>
			<key>Key</key>
			<string>web_services_specific_base_url_preference</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use specific Base URL</string>
			<key>Key</key>
			<string>web_services_use_specific_base_url_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Web Service Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>en</string>
			</array>
			<key>Values</key>
			<array>
				<string>en</string>
			</array>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>en</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>web_services_language_preference</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Language</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>USD</string>
				<string>GBP</string>
			</array>
			<key>Values</key>
			<array>
				<string>USD</string>
				<string>GBP</string>
			</array>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>USD</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>web_services_currency_preference</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Currency</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>electronics</string>
				<string>apparel-uk</string>
			</array>
			<key>Values</key>
			<array>
				<string>electronics/</string>
				<string>apparel-uk/</string>
			</array>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>electronics/</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>web_services_site_url_suffix_preference</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Site</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
