<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>validation</key>
		<string>^.{6,}$</string>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>HYFormSecureTextEntryCell</string>
		<key>title</key>
		<string>Current Password</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeNone</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>validation</key>
		<string>^.{6,}$</string>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>HYFormSecureTextEntryCell</string>
		<key>title</key>
		<string>New Password</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeNone</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>validation</key>
		<string>^.{6,}$</string>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>HYFormSecureTextEntryCell</string>
		<key>title</key>
		<string>Confirm Password</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeNone</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
</array>
</plist>
