<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>values</key>
		<array/>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>HYFormTextSelectionCell</string>
		<key>title</key>
		<string>Anrede</string>
		<key>property</key>
		<string>title</string>
	</dict>
	<dict>
		<key>validation</key>
		<string>^[\S]*$</string>
		<key>error</key>
		<string>Bitte geben Sie Ihren Vornamen ohne Leerzeichen ein.</string>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>HYFormTextEntryCell</string>
		<key>title</key>
		<string>Vorname</string>
		<key>property</key>
		<string>firstName</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeSentences</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>validation</key>
		<string>^[\S]*$</string>
		<key>error</key>
		<string>Bitte geben Sie Ihren Nachnamen ohne Leerzeichen ein.</string>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>HYFormTextEntryCell</string>
		<key>title</key>
		<string>Nachname</string>
		<key>property</key>
		<string>lastName</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeSentences</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>validation</key>
		<string>^.{0,255}$</string>
		<key>error</key>
		<string>Bitte geben Sie die erste Adresszeile ein.</string>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>HYFormTextEntryCell</string>
		<key>title</key>
		<string>Adresszeile 1</string>
		<key>property</key>
		<string>line1</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeSentences</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>validation</key>
		<string>^.{0,255}$</string>
		<key>required</key>
		<false/>
		<key>cellIdentifier</key>
		<string>HYFormTextEntryCell</string>
		<key>title</key>
		<string>Adresszeile 2</string>
		<key>property</key>
		<string>line2</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeSentences</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>validation</key>
		<string>^.{0,255}$</string>
		<key>error</key>
		<string>Bitte geben Sie Ihren Ort ein.</string>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>HYFormTextEntryCell</string>
		<key>title</key>
		<string>Ort</string>
		<key>property</key>
		<string>town</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeSentences</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>validation</key>
		<string>^.{0,10}$</string>
		<key>error</key>
		<string>Bitte geben Sie Ihre Postleitzahl ein.</string>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>HYFormTextEntryCell</string>
		<key>title</key>
		<string>Postleitzahl</string>
		<key>property</key>
		<string>postalCode</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeSentences</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>required</key>
		<true/>
		<key>error</key>
		<string>Please select your country.</string>
		<key>cellIdentifier</key>
		<string>HYFormTextSelectionCell</string>
		<key>title</key>
		<string>Land</string>
		<key>property</key>
		<string>country.name</string>
	</dict>
</array>
</plist>
